    .home-container {
        width: 100%;
        height: 100vh;
        min-height:80vh;
        padding:60px 0;
        background: #232526;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    .home-container .container {
    max-width:60vw;
    margin: 0 auto;
    display: flex;
    padding: 0;
    border-radius: 8px;
    }
    .home-container .container h1 {
    font-size: 40px;
    color:#ffffffdc;
    font-weight:600;
    animation: fadein 3s;
    margin-bottom:20px;
    }
    .home-container .container .text
    {
        width: 90%;
        text-align: center;
        margin:0 auto;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 8px;
    }
    .home-container form {
    /* padding: 20px 0; */
    position: relative;
    z-index: 2;
    width: 70%;
    margin:0 auto;
    }
    .home-container form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid #0e6e02;
    width: 55%;
    border-radius: 3px;
    padding: 10px 15px;
    margin:10px auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #0e6e02;
    transition-duration: 0.25s;
    }
    .home-container form input:hover {
    background-color: #0e6e02;
    color:#FBD3E9;
    }
    .home-container form input:focus {
    background-color:#0e6e02;
    width: 300px;
    color:#FBD3E9;
    }
    .home-container form ::placeholder
    {
    color:#0e6e02;
    }
    .home-container form input:hover::placeholder
    {
    color:white;
    }
    .home-container form button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: 5px;
    appearance: none;
    outline: 0;
    background-color: #0e6e02;
    border: 0;
    padding: 10px 15px;
    color: #FBD3E9;
    border-radius: 3px;
    font-size:20px;
    width: 60%;
    cursor: pointer;
    transition-duration: 0.25s;
    }
    .home-container form button:hover {
    border: 1px solid  #0e6e02;
    border-radius: 5px;
    background-color: #f5f7f9;
    color: #0e6e02;
    }
    /* webcam  */
    .home-container .webcam-container
    {
    display: flex;
    flex-direction: column;
    text-align: center;
    width:100%;
    margin:0 auto;
    }
    .home-container .webcam-container .webcam-btn
    {
    margin-top: 10px;
    margin-bottom: 20px;
    width:38%;
    }
    /* Media queries ~ */
    /* @media screen and (max-width:1000px)
    {
        .home-container .container
        {
            max-width:90vw;
        }
    }
    @media screen and (max-width:678px)
    {
    .login-container
    {
    padding-top: 10%;
    }
    .home-container .container
    {
        max-width: 80vw;
        height: 100%;
    }
    .home-container form
    {
    width:90%;
    }
    .home-container .loginDesign
    {
    display: none;
    }
    .home-container .container .text
    {
    width: 100%;
    padding: 0 20px;
    }
    } */